attrs==20.2.0
click==7.1.2
coverage==5.3
Flask==1.1.2
importlib-metadata==2.0.0
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
packaging==20.4
pkg-resources==0.0.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.1
-e git+https://github.com/onesinus/FlaskRestful.git@d20be98f5727fea0e64f0df0ca63ddf92808aea8#egg=Simple_Restful_API
six==1.15.0
toml==0.10.1
Werkzeug==1.0.1
zipp==3.3.0
